.current-conditions {
    background-color: #243647;
    padding: 1.5rem;
    border-radius: 10px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    margin-bottom: 20px;
}

.current-conditions h2 {
    color: #1DB954;
    margin-bottom: 10px;
}

.main-display {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}

.main-temperature {
    font-size: 3rem;
    color: #ffffff;
    display: flex;
    align-items: center;
}

.main-temperature i {
    margin-right: 10px;
    font-size: 3rem;
    color: #1DB954;
}

.additional-details p {
    font-size: 1.2rem;
    color: #b0c7d4;
    display: flex;
    align-items: center;
}

.additional-details i {
    margin-right: 10px;
    font-size: 1.5rem;
    color: #1DB954;
}

/* Metrics as Square Boxes */
.metrics-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 20px;
    margin-top: 20px;
}

.metric-card {
    background-color: #243647;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    text-align: center;
    transition: transform 0.2s;
    height: 150px; /* Adjust this to control square shape */
    width: 150px;  /* Ensure width and height are the same */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.metric-card:hover {
    transform: translateY(-5px);
}

.metric-card h3 {
    color: #1DB954;
    font-size: 1.2rem;
    margin-bottom: 5px;
}

.metric-card p {
    color: #b0c7d4;
    font-size: 1.1rem;
}

.metric-card .value {
    font-size: 1.5rem;
    font-weight: bold;
    color: #ffffff;
}

/* Icons styling */
.metric-card .icon {
    margin-bottom: 5px;
    font-size: 2rem;
    color: #1DB954;
}
